<div class="container mt-3">
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center">
                            <h2>Student Registration</h2>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="userName" class="form-label">Name</label>
                                <input type="text" class="form-control" id="userName"  [(ngModel)]="userName">
                            </div>
                            <div class="mb-3">
                                <label for="userEmail" class="form-label">Email</label>
                                <input type="email" class="form-control" id="userEmail"  [(ngModel)]="userEmailId">
                            </div>
                            <div class="mb-3">
                                <label for="paasword" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password"  [(ngModel)]="userPassword">
                            </div>
                            <div class="mb-3 text-center">
                                <button type="submit" class="btn btn-primary" (click)="register()">Register</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>