<!-- <div *ngIf="course">
    <h2>{{course.courseName | uppercase}} Details</h2>
    <div>id: {{course.id}}</div>
    <div>
        <label for="course-name">course name: </label>
        <input id="course-name" [(ngModel)]="course.courseName" placeholder="name">
    </div>
</div>

<button type="button" (click)="goBack()">go back</button>

<button type="button" (click)="save()">save</button> -->



<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="card mt-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center">
                            <h2>Course Details</h2>
                            <hr>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-3">
                            <label for="courseId" class="form-label">Course ID</label>
                            <input type="number" class="form-control" id="courseId"
                                [(ngModel)]="course.id">
                        </div>
                        <div class="col-9">
                            <label for="courseName" class="form-label">Course Name</label>
                            <input type="text" class="form-control" id="courseName"
                                [(ngModel)]="course.courseName">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-3">
                            <label for="professorId" class="form-label">Professor ID</label>
                            <input type="number" class="form-control" id="professorId"
                                [(ngModel)]="course.professorId">
                        </div>
                        <div class="col-9">
                            <label for="courseFee" class="form-label">Course Fee</label>
                            <input type="number" class="form-control" id="courseFee"
                                [(ngModel)]="course.courseFee">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-3">
                            <label for="semesterId" class="form-label">Semester ID</label>
                            <input type="number" class="form-control" id="semesterId"
                                [(ngModel)]="course.semesterId">
                        </div>
                        <div class="col-9">
                            <label for="department" class="form-label">Department</label>
                            <input type="text" class="form-control" id="department"
                                [(ngModel)]="course.department">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <div class="form-check">
                                <label class="form-check-label" for="status">Set status</label>
                                <input type="checkbox" class="form-check-input" id="status"
                                    [(ngModel)]="course.status">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">
                            <input type="button" class="btn btn-primary btn-block" value="Add" (click)="add()">
                        </div>
                        <div class="col-4">
                            <input type="button" class="btn btn-success btn-block" value="Update" (click)="update()">
                        </div>
                        <div class="col-4">
                            <input type="button" class="btn btn-danger btn-block" value="Delete" (click)="delete()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>